version=0.19.0
wrap-fun-args=false
let-binding-spacing=compact
field-space=loose
sequence-style=separator
doc-comments=before
margin=80
module-item-spacing=sparse
parens-tuple=always
parens-tuple-patterns=always
exp-grouping=preserve
